<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Chemist</title>
        <meta charset="windows-1252"/>
<!--        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    </head>
    <body>
        <div>welcome...</div>
    </body>
</html>
